讀卡通訊程式不看資料庫/WindowsFormsApplication2_ELS61/WindowsFormsApplication2/Service References/TPC_Comm/CommMdmWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendMessage" type="tns:SendMessage" />
  <xs:element name="SendMessageResponse" type="tns:SendMessageResponse" />
  <xs:complexType name="SendMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="XMLContent" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>